.edit-empty-textbox {
  box-shadow: 1px 1px 3px red, -1px -1px 3px red;
}
.edit-error-message {
  color: red;
  position: absolute;
  margin-top: -67px;
  margin-left: 45px;
}
tr {
  cursor: pointer;
}
tbody tr:hover {
  background: #b2b2b2 !important;
}
.card-post {
  margin-bottom: 10px;
}
.post-profile-pic {
  width: 100%;
}
.card-post-title {
  padding: 5px;
}
.post-dropdown {
  display: none;
}
.card-post:hover .post-dropdown {
  display: inline;
}
