<script type="text/x-handlebars" data-template-name="home">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          {{#link-to "home.index" activeClass="selected"}}Home{{/link-to}}  
        </li> 
      </ol>
    </nav> 
    {{outlet}}
  </script>