<script type="text/x-handlebars" data-template-name="login">
<div class="container" style="width:350px; margin-top:50px">
  <h3>Ember test App</h3>
  <form action="" {{action "onLogin"}}>
    <div class="form-group">
      <label for="usr">Username:</label>
      {{input type="text" value=username class="form-control"placeholder="Enter username"}}
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      {{input type="password" value=password class="form-control" placeholder="Enter password"}}
    </div>
    <button type="submit" class="btn btn-primary">Sumnit</button>
  </form>

</div>
</script>